*{
    margin: 0;
    padding: 0;
}

.container{
    width: 500px;
    height: 500px;
    background-color: #494949;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 50px;
    margin: auto;
}